fastapi==0.115.2
uvicorn[standard]==0.30.6
python-multipart==0.0.12
pydantic-settings==2.5.2
langchain==0.3.3
langchain-groq==0.2.0
langchain-text-splitters==0.3.0
langchain-chroma==0.1.4
langchain-huggingface==0.1.0
chromadb==0.5.11
pdfplumber==0.11.4
sentence-transformers==3.1.1
supabase==2.9.1
sendgrid
sendgrid==6.11.0
